@{
    ViewData["Title"] = "Não encontrado";
}

<div class="text-center">
    <h1 class="display-4">Usuário não encontrado</h1>
    <p>Usuário com o ID fornecido não foi encontrado, tente novamente.</p>
</div>