@page
@using BlueBook.Models
@model Usuario
@{
    ViewData["Title"] = "Perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <form id="email-form" asp-controller="User" asp-action="PaginaUsuario">
            <div class="form-group">
                <span class="text-danger" asp-validation-for="LinkImagem"></span>
                <label asp-for="LinkImagem"></label>
                <input asp-for="LinkImagem" class="form-control" placeholder="Link da nova imagem..." />
            </div>
            <div class="form-group">
                <span class="text-danger" asp-validation-for="UserName"></span>
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" placeholder="Novo nome..." />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="editarPerfilFim">Editar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}